
.navbar {
    background-color: #f3f2ec;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .section1 {
    background-color: #37517e;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  ul.navbar-nav.mx-auto.mb-2.mb-lg-0 {
    margin-right: 10% !important;
}
  
  .logo {
    text-decoration-line: none;
  }
  
  .logo h2 {
    font-size: 45px;
  }
  
  .nav-item {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .nav-link {
    color: #fff;
    font-size: 18px;
  }
  
  .nav-link.active,
  .nav-link:hover {
    color: #47b2e4 !important;
  }

  .heading h1{
    font-weight: 700 !important;
    color: #37517e;
    text-shadow: 0 3px 5px #47b2e4;
  }
 
  #first-row .card i {
    margin-top: -30px;
    font-size: 35px;
    position: absolute;
    text-shadow: 0 0 5px black;
    color: #fff;
  }
  #second-row .card i {
    margin-top: -25px;
    font-size: 33px;
    position: absolute;
    text-shadow: 0 0 5px black;
    color: #fff;
  }
  .card-title {
    font-size: 30px;
    text-shadow: 0 5px 5px black;
    color: #fff !important;
  }
  .btn-primary{
    background-color: #47b2e4 !important;
    border-color: #47b2e4 !important;
  }

  .add-book-btn, .add-user-btn{
    box-shadow: 0 3px 8px black;
  }